/* Styles for audio widgets. */
.que.recordrtc .audio-widget {
    display: inline-flex;
    margin: 2px 0;
    width: 20em;
    max-width: 100%;
}
.que.recordrtc .audio-widget .no-recording-placeholder {
    flex-grow: 1;
    padding-top: 0.45em;
}
.que.recordrtc .audio-widget .media-player {
    flex-grow: 1;
}
.que.recordrtc .audio-widget .media-player audio {
    height: 2.437em;
    vertical-align: -0.8em;
    width: 100%;
    max-width: 100%;
}
.que.recordrtc .audio-widget .record-button {
    margin-left: 4px;
}
.que.recordrtc .audio-widget button {
    white-space: nowrap;
    margin-right: 0;
}
.que.recordrtc .audio-widget a {
    white-space: nowrap;
    line-height: 2.437em;
}
.que.recordrtc .audio-widget .download-icon {
    vertical-align: middle;
    margin-right: 2px;
}

/* Styles for video widgets. */
.que.recordrtc .video-widget {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
}
.que.recordrtc .video-widget .no-recording-placeholder {
    margin-bottom: 4px;
}
.que.recordrtc .video-widget.recordrtc-ratio-16x9 .no-recording-placeholder {
    padding: calc(28.125% - 10.5px) 0;
}
.que.recordrtc .video-widget.recordrtc-ratio-4x3 .no-recording-placeholder {
    padding: calc(37.5% - 10.5px) 0;
}
.que.recordrtc .video-widget .media-player video {
    width: 100%;
}
.que.recordrtc .video-widget button {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
}
.que.recordrtc .audio-widget .download-icon {
    vertical-align: middle;
    margin-right: 2px;
}

/* Other styles used while the question is being attempted. */
.que.recordrtc .no-recording-placeholder {
    color: #676463;
    background-color: #f0f0f1;
    text-align: center;
}
.que.recordrtc .download-icon {
    height: 28px;
    width: 28px;
}
.que.recordrtc .specificfeedback {
    margin: 0 0 0.5em;
    padding: 0.5em 0.5em 0;
    background: #fff3bf;
    border: 1px solid #fff3bf;
}

/* Styles used on the editing form. */
body#page-question-type-recordrtc.path-question-type .form-group[data-groupname=timelimitinseconds] .sr-only {
    display: none;
}
