.que.recordrtc .playback-widget,
.que.recordrtc .record-widget {
    position: relative;
    max-width: 20em;
    height: calc(2.25rem + 1px);
}
.que.recordrtc .record-widget .no-recording-placeholder {
    margin-right: 4px;
    padding-top: 3px;
    color: #676463;
    background-color: #f0f0f1;
    text-align: center;
    margin-bottom: 0.25em;
 }
.que.recordrtc .playback-widget .media-player audio,
.que.recordrtc .record-widget .media-player audio {
    flex-grow: 1;
    margin: 9px 0 12px;
}
.que.recordrtc .playback-widget .media-player video,
.que.recordrtc .record-widget .media-player video {
    display: flex;
    margin-bottom: 0.25em;
}
.que.recordrtc .record-widget .saving-message-audio {
    white-space: nowrap;
    color: #676463;
    position: absolute;
    left: 0;
    top: 1.75em;
}
.que.recordrtc .record-widget .saving-message-video {
    white-space: nowrap;
    color: #676463;
}
.que.recordrtc .record-widget button {
    white-space: nowrap;
    margin-right: 0;
}
.que.recordrtc .download-icon-audio {
    height: 28px;
    width: 28px;
    vertical-align:middle;
    margin-right: 2px;
}
.que.recordrtc .download-icon-video {
    height: 28px;
    width: 28px;
    vertical-align:middle;
    margin-right: 2px;
}

body#page-question-type-recordrtc.path-question-type .form-group[data-groupname=timelimitinseconds] .sr-only {
    display: none;
}
